@model IEnumerable<TestPortal.Domain.Entities.User>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempts)
            </th>
            <th>
                Действия
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model) { 
        <tr>
            <th>
                @Html.DisplayFor(user => item.Login)
            </th>
            <td>
                @Html.DisplayFor(user => item.Password)
            </td>
            <td>
                @Html.DisplayFor(user => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(user => item.Email)
            </td>
            <td>
                @Html.DisplayFor(user => item.Name)
            </td>
            <td>
                @Html.DisplayFor(user => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(user => item.Patronymic)
            </td>
            <td></td>
            <td></td>
            <td>
                @*@Html.ActionLink(item.Text, "Edit", new { item.ReplyId })*@
            </td>
            @*<td>
                    @using (Html.BeginForm("Delete", "ReplyEditor", FormMethod.Post))
                    {
                        <input type="submit" value="Удалить" />
                    }
                </td>*@
        </tr>
        }
    </table>
</div>